.tasks-box {
    position: flex;
    height: 40vh;
    width: 40vw;
    margin-top: 2vh;
    margin-left: 2vw;
    background-color: lightgray;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px;
}

.date-box {
    position: absolute;
    height: 7vw;
    width: 7vw;
    margin-top: 2vh;
    margin-left: 1vw;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    background-color: blanchedalmond;
}

.tasks-inner-box {
    height: 36vh;
    width: 29vw;
    margin-top: 2vh;
    margin-left: 9vw;
    padding: 1vh;
    border-radius: 8px;
    background-color: rgb(180, 180, 180);
}

.tasks-grids {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1px;
}

.task-item {
    background-color: #6dbbf7;
    color: white;
    height: 4vh;
    border-radius: 8px;
}

.task-checkbox {
    background-color: white;
    height: 2vh;
    width: 2vh;
    margin: 1vh 2vh;
    border-radius: 8px;
    border-width: 2px;
    border-color: black;
    cursor: pointer;
}