.tasks-box {
    position: flex;
    height: 40vh;
    width: 40vw;
    margin-top: 2vh;
    margin-left: 2vw;
    background-color: lightgray;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px;
}

.date-box {
    position: absolute;
    height: 7vw;
    width: 7vw;
    margin-top: 2vh;
    margin-left: 1vw;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    background-color: blanchedalmond;
}

/* Scroll container styles */
.scroll-container {
    height: 36vh;
    width: 29vw;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 3px solid #cccccc;
    border-radius: 12px;
    margin-top: 2vh;
    margin-left: 9vw;
    padding: 1vh;
    background-color: rgb(180, 180, 180);
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.task-item {
    display: flex;
    flex-direction: row;
    background-color: lightskyblue;
    align-items: center;
    /* Align child vertically */
    color: white;
    height: 4vh;
    border-radius: 8px;
}

.task-checkbox {
    background-color: white;
    height: 2vh;
    width: 2vh;
    margin: 0 2vh;
    border: 2px solid powderblue;
    border-radius: 4px;
    cursor: pointer;
}

.task-info {
    color: black;
    font-size: 1rem;
}