.main-name-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 150px;
}

.main-name-container div:last-child {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.main-name-text {
    font-size: 36px;
    text-align: center;
}