.navbar {
    position: flex;
    top: 0;
    left: 0;
    height: 5.5vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 20%;
    background-color: #222;
    color: white;
    z-index: 1000;
    transition: all 0.3s ease;
    flex-wrap: nowrap;
}

.logo {
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    white-space: nowrap;
    transition: color 0.3s ease;
}

.logo:hover {
    color: #ff6347;
}

.nav-links {
    padding-top: 1rem;
    list-style: none;
    display: flex;
    gap: 2rem;
    flex-wrap: nowrap;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ff6347;
}

.search-bar {
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
    max-width: 700px;
    margin: 0 1rem;
    padding: 0rem 1rem;
    background-color: #282828;
    border: 1px solid #333;
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.search-button {
    width: 100px;
    padding: 10px 15px;
    margin-right: -16px;
    background-color: #333;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #444;
}

.search-input {
    min-width: 10px;
    flex: 1;
    padding: 0px 15px;
    font-size: 1.2rem;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
}

.menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 1rem;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}

@media (max-width: 1024px) {
    .navbar {
        padding: 0.5rem 10%;
    }

    .search-bar {
        display: none;
    }
}